{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Home</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Home</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Your Reservations</div>
                <div class="panel-body">
                    {% for reservation in my_reservation_list %}
                    <div class="list-group">
                        <h4 class="list-group-item-heading"><a href="{% url 'resource' reservation.resource.id %}">
                            {{ reservation.resource.name }}</a></h4>
                        <p class="list-group-item-text">User: {{ reservation.owner }}</p>
                        <p class="list-group-item-text">Time: {{ reservation.time }}</p>
                        <p class="list-group-item-text">Duration: {{ reservation.duration }} </p>
                        <form class="form-horizontal" action="{% url 'delete_reservation' reservation.id %}"
                              method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default" style="margin-bottom: 5%;">Delete</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">All Resources</div>
                <div class="panel-body">
                    {% for resource in resource_list %}
                    <div class="list-group">
                        <h4 class="list-group-item-heading"><a href="{% url 'resource' resource.id %}">
                            {{ resource.name }}</a></h4>
                        <p class="list-group-item-text">Start: {{ resource.start }}</p>
                        <p class="list-group-item-text">End: {{ resource.end }}</p>
                        <p class="list-group-item-text">Description: {{ resource.description }}</p>
                        <p class="list-group-item-text">Tags:
                            {% for tag in tag_lists %}
                            <a href="#">{{ tag }}</a>
                            {% endfor %}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Your Resources <a href="{% url 'new' %}" role="button">Create A New
                    Resource</a>
                </div>
                <div class="panel-body">
                    {% for resource in my_resource_list %}
                    <div class="list-group">
                        <h4 class="list-group-item-heading"><a href="{% url 'resource' resource.id %}">
                            {{ resource.name }}</a></h4>
                        <p class="list-group-item-text">Start: {{ resource.start }}</p>
                        <p class="list-group-item-text">End: {{ resource.end }}</p>
                        <p class="list-group-item-text">Description: {{ resource.description }}</p>
                        <p class="list-group-item-text">Tags:
                            {% for tag in my_tag_lists %}
                            <a href="#">{{ tag }}</a>
                            {% endfor %}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 2017 Open Source Tools </p>
    </footer>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
