{% extends "base.html" %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="page-header">
    <h1>Home</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Your Reservations</div>
            <div class="panel-body">
                {% for reservation in my_reservation_list %}
                <div class="list-group">
                    <h4 class="list-group-item-heading"><a href="{% url 'resource' reservation.resource.id %}">
                        {{ reservation.resource.name }}</a></h4>
                    <p class="list-group-item-text">User: <a href="#">{{ reservation.owner }}</a></p>
                    <p class="list-group-item-text">Time: {{ reservation.time }}</p>
                    <p class="list-group-item-text">Duration: {{ reservation.duration }} </p>
                    <form class="form-horizontal" action="{% url 'delete_reservation' reservation.id %}"
                          method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default" style="margin-bottom: 5%;">Delete</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">All Resources</div>
            <div class="panel-body">
                {% for resource in resource_list %}
                <div class="list-group">
                    <h4 class="list-group-item-heading"><a href="{% url 'resource' resource.id %}">
                        {{ resource.name }}</a></h4>
                    <p class="list-group-item-text">Start: {{ resource.start }}</p>
                    <p class="list-group-item-text">End: {{ resource.end }}</p>
                    <p class="list-group-item-text">Description: {{ resource.description }}</p>
                    <p class="list-group-item-text">Tags:
                        {% for tag in resource.tags.all %}
                        <a href="{% url 'get_resource' tag.id %}">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Your Resources <a href="{% url 'new' %}" role="button">Create A New
                Resource</a>
            </div>
            <div class="panel-body">
                {% for resource in my_resource_list %}
                <div class="list-group">
                    <h4 class="list-group-item-heading"><a href="{% url 'resource' resource.id %}">
                        {{ resource.name }}</a></h4>
                    <p class="list-group-item-text">Start: {{ resource.start }}</p>
                    <p class="list-group-item-text">End: {{ resource.end }}</p>
                    <p class="list-group-item-text">Description: {{ resource.description }}</p>
                    <p class="list-group-item-text">Tags:
                        {% for tag in resource.tags.all %}
                        <a href="{% url 'get_resource' tag.id %}">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}