<div class="list-group">
    <h4 class="list-group-item-heading"><a href="{% url 'resource' resource.id %}">
        {{ resource.name }}</a></h4>
    <p class="list-group-item-text text-muted">{{ resource.start }} - {{ resource.end }}</p>
    <p class="list-group-item-text">Description: {{ resource.description }}</p>
    <p class="list-group-item-text">Tags:
        {% for tag in resource.tags.all %}
        <a href="{% url 'get_resource' tag.id %}"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> {{ tag.name }}</a>
        {% endfor %}
    </p>
</div>