{% extends "base.html" %}

{% load static %}

{% block title %} Tag {% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ current_tag.name }}
        <small><a href="{% url 'index' %}" role="button">Back to Home</a></small>
    </h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">All Resources</div>
            <div class="panel-body">
                {% for resource in resource_list %}
                {% include "show_resource_info.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
